.App {
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: Century,serif;
  background-color: #ccc9bc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(122, 113, 92);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.my-library{
  color:greenyellow;
}

nav .logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .logo {
  width: 120px;
  height: auto;
}

/* Links styling */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #c18d61;
  border-radius: 5px;
}


nav .logout-button {
  position:relative;
  bottom:4px;
  background-color: #cca277;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav .logout-button:hover {
  background-color: #9f9a85;
}


.nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-toggle span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(175, 166, 122);
    width: 100%;
    padding: 10px 0;
  }

  nav ul.active {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 14px;
  }

  .logout-button {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 5px 10px;
  }
}
.footer{
  background-color: rgb(122, 113, 92);
  color:white;
  width: 100%;
}
.footer a{
  color:white;
}